{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
{% for item in news%}
<table>
    <tr><th>Title of activity</th><th>Team Leader</th><th>Deration</th><th>List of collabarators</th><th>Is finished</th></tr>
    <tr><td>{{item.job}}</td><td>{{item.user.surname}}</td><td>{{item.work_size}} hours</td><td>{{item.collaborators}}</td>
        <td>{% if item.is_finished %}
            finished
            {% else %}
            is not finished
            {% endif %}
        </td></tr>
</table>
{% endfor %}
{% endblock %}
