h1 {
   color: #d22e3a
}
.alert1 {
    border: 1px solid transparent;
	border-radius: .25rem;
	margin-bottom: 1rem;
	padding: 1rem 1rem;
	position: relative;
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe
}
.alert1 {
    border: 1px solid transparent;
	border-radius: .25rem;
	margin-bottom: 1rem;
	padding: 1rem 1rem;
	position: relative;
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe
}